<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("主页", "Index", "Home")</li>
                            @{
                                if (Request.IsAuthenticated)
                                {   
                                    <li>@Html.ActionLink("院校信息", "Index", "University", new { userName = User.Identity.Name }, htmlAttributes: null)</li>
                                    <li>@Html.ActionLink("志愿统计信息", "Index", "Home")</li>
                                    <li>@Html.ActionLink("我的志愿", "Index", "Home")</li>
                                    <li>@Html.ActionLink("充值", "Index", "Home")</li>
                                }
                                }
                            <li>@Html.ActionLink("关于我们", "About", "Home")</li>
                            <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
            <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 高考模拟志愿统计系统</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
